body{
    max-width: 100%;
    overflow-x: hidden;
}
.hidden-head{
    opacity: 0;
    transform: translateY(100%);
    transition:1s all ease-in-out;
}
.hidden-fade{
    opacity:0;
    transition: 1s all ease-in-out;
}
.hidden{
    opacity:0;
    transform:translateX(100%);
    transition: 1s all ease-in-out;
}
.show{
    transform:translateX(0%);
    opacity:1;
}



.about-content:nth-child(2){
    transition-delay: 200ms;
}

.about-content:nth-child(3){
    transition-delay: 600ms;
}
.about-content:nth-child(4){
    transition-delay: 1000ms;
}